footer {
    background-color: #333;
    color: #fff;
    padding: 20px 20px 0 20px;
    font-family: 'Joan', sans-serif;
    width: 100%;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "left right"
      "bottom bottom";
    gap: 10px;
    max-width: 95%;
    margin: 0 auto;
    font-family: 'Joan', sans-serif;
  }
  .footer-left {
    grid-area: left;
    text-align: left;
    font-size: 16px;
    padding-right: 400px;
  }
  .footer-right {
    grid-area: right;
    text-align: right;
    font-size: 16px;

    p{
        margin-bottom: 0;
    }
  }
  .footer-bottom {
    grid-area: bottom;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #555;
    padding-top: 10px;
  }
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "left"
        "right"
        "bottom";
    }
    .footer-left, .footer-right {
      text-align: center;
    }
  }
  /* Link styling */
  .footer-right a,
  .footer-bottom a {
    color: #fff;
    text-decoration: underline;
    font-family: 'Joan', sans-serif;

  }
  .footer-right a:hover,
  .footer-bottom a:hover {
    text-decoration: none;
  }